body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icon {
    font-size: 3em;
    color: #333;
}

h1 {
    color: #333;
    margin: 10px 0;
}

p {
    color: #666;
    margin-bottom: 20px;
}

.upload-form {
    margin-bottom: 20px;
}

.custom-file-input {
    display: none;
}

.custom-file-label, .btn {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-file-label {
    background-color: #ffc107;
    color: #212529;
}

.custom-file-label:hover, .btn:hover {
    background-color: #ffca28;
}

.replacement-form {
    margin-bottom: 20px;
}

.form-control {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 300px;
}

.selected-file, .result {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #333;
    display: none;
}

.recipe-section {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            max-height: 300px;
            overflow-y: auto;
        }
