<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>음식 분석</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <i class="fas fa-utensils icon"></i>
        <h1>SnapFlavor</h1>
        <p>음식 사진을 업로드하고 레시피를 찾아보세요!</p>
	
	<div class="container">
		<h3>분석할 사진</h3>
        	<div id="preview">
    			<p>아직 사진을 선택하지 않았습니다.</p>
		</div>
	</div>
	<br>

        <form action="/" method="post" enctype="multipart/form-data" class="upload-form">
    		<div class="input-group">
        		<input type="file" class="custom-file-input" id="file" name="file" onchange="displaySelectedFile()">
			<input type="text" class="form-control" id="replacement" placeholder="제외 재료 입력">
        		<label class="custom-file-label" for="file">이미지 선택</label>
        		<button type="submit" class="btn btn-primary" onclick="analyzeImage()">분석 시작</button>
    		</div>
	</form>

        <div id="selectedFile" class="selected-file"></div>
        <div id="result" class="result"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
